@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #f2f2f2;
  --font-righteous: "Righteous", sans-serif;
  --font-lexend: "Lexend", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f2f2f2;
    --background: #222436;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-righteous);
  font-weight: 400;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
  font-family: var(--font-lexend);
}
